// COLOR VARIABLES
$color-primary: #fff;

$color-blue: #020e64;

$color-dark: #303030;

$color-lightdark: #868686;

$color-yellow: #ffbb00;

$color-red: #b6170e;

$color-gray: #c6c6c6;

$color-white: #fff;



// FONT VARIABLES
$font-primary: 'Segoe UI', sans-serif;
$font-display: 'PFDinTextCompPro', sans-serif;

$transition: all .2s;

@mixin respondHeight($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-height: 40em) { @content };    // 640px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-height: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-height: 75em) { @content };    // 1200px
    }
}

@mixin respondWidth($breakpoint) {
    @if $breakpoint == phone-sm {
        @media only screen and (max-width: 21.875em) { @content };    // 600px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    // 1200px
    }
    @if $breakpoint == big-desktop-l {
        @media only screen and (max-width: 87.5em) { @content };    // 1400px
    } 
    @if $breakpoint == big-desktop-xl {
        @media only screen and (min-width: 100em) { @content };    // 1600px
    }
    @if $breakpoint == big-desktop-xxl {
        @media only screen and (min-width: 118.75em) { @content };    // 1900px
    }
}

@mixin respondWidthHeight($breakpoint) {
    @if $breakpoint == tablet {
        @media only screen and (max-width: 56.25em) and (max-height: 56.25em) { @content };    // 600px
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 10px / 16px = 62.5% => 1rem = 10px
}

body {
    font-family: $font-primary;
    position: relative;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    position: relative;
}


.mtb-lg {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important;
}

.mtb-lg-2 {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
}

.mb-lg {
    margin-bottom: 5rem!important;
}

.mb-lg-2 {
    margin-bottom: 4rem!important;
}

.mt-lg-2 {
    margin-top: 4rem!important; 
}

.mt-lg {
    margin-top: 5rem!important; 
}

.mt-xl {
    margin-top: 7rem!important;
}

.mb-xl {
    margin-bottom: 7rem!important;
}

.mt-sm {
    margin-top: 2rem!important;
}

.mb-md {
    margin-bottom: 2rem!important;
}

.mb-sm {
    margin-bottom: 1rem!important;
}

.ml-xxl {
    margin-left: 10rem!important;
}

.mb-xxl {
    margin-bottom: 10rem!important;
}

p {
    margin: 0;
}

h3 {
    text-transform: unset;
}

ol, ul {
    padding: 0;
}


a {
    text-decoration: none;
}

.container, .container-fluid {
    padding: 0;
}
