@font-face {
  font-family: 'imoon';
  src:  url('fonts/imoon.eot?2tteg5');
  src:  url('fonts/imoon.eot?2tteg5#iefix') format('embedded-opentype'),
    url('fonts/imoon.ttf?2tteg5') format('truetype'),
    url('fonts/imoon.woff?2tteg5') format('woff'),
    url('fonts/imoon.svg?2tteg5#imoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="imoon-"], [class*=" imoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'imoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imoon-medal:before {
  content: "\e92d";
}
.imoon-camera:before {
  content: "\e92c";
  color: #fff;
}
.imoon-plus:before {
  content: "\e92b";
  color: #fff;
}
.imoon-accordion:before {
  content: "\e901";
}
.imoon-arbor:before {
  content: "\e902";
}
.imoon-balalaika:before {
  content: "\e903";
}
.imoon-bar:before {
  content: "\e904";
}
.imoon-barrel:before {
  content: "\e905";
}
.imoon-billiard:before {
  content: "\e906";
}
.imoon-books:before {
  content: "\e907";
}
.imoon-carpet:before {
  content: "\e908";
}
.imoon-chest:before {
  content: "\e909";
}
.imoon-child:before {
  content: "\e90a";
}
.imoon-clock:before {
  content: "\e90b";
}
.imoon-clock2:before {
  content: "\e90c";
}
.imoon-cook:before {
  content: "\e90d";
}
.imoon-couple:before {
  content: "\e90e";
}
.imoon-fire:before {
  content: "\e90f";
}
.imoon-fireplace:before {
  content: "\e910";
}
.imoon-fish:before {
  content: "\e911";
}
.imoon-gate:before {
  content: "\e912";
}
.imoon-gram:before {
  content: "\e913";
}
.imoon-jug:before {
  content: "\e914";
}
.imoon-leather:before {
  content: "\e915";
}
.imoon-libra:before {
  content: "\e916";
}
.imoon-light:before {
  content: "\e917";
}
.imoon-logo:before {
  content: "\e918";
}
.imoon-nature:before {
  content: "\e919";
}
.imoon-organ:before {
  content: "\e91a";
}
.imoon-piano:before {
  content: "\e91b";
}
.imoon-present:before {
  content: "\e91c";
}
.imoon-sigar:before {
  content: "\e91d";
}
.imoon-smoke:before {
  content: "\e91e";
}
.imoon-sofa:before {
  content: "\e91f";
}
.imoon-sprite:before {
  content: "\e920";
}
.imoon-statue:before {
  content: "\e921";
}
.imoon-street_lamp:before {
  content: "\e922";
}
.imoon-swords:before {
  content: "\e923";
}
.imoon-table:before {
  content: "\e924";
}
.imoon-tv-1:before {
  content: "\e925";
}
.imoon-tv:before {
  content: "\e926";
}
.imoon-vase:before {
  content: "\e927";
}
.imoon-water:before {
  content: "\e928";
}
.imoon-window:before {
  content: "\e929";
}
.imoon-wood_table:before {
  content: "\e92a";
}
.imoon-link:before {
  content: "\e900";
  color: #fff;
}
.imoon-brief:before {
  content: "\e92e";
  color: #020e64;
}
.imoon-share:before {
  content: "\e92f";
  color: #020e64;
}
.imoon-vk:before {
  content: "\e930";
  color: #4f78a3;
}
.imoon-twitter:before {
  content: "\e931";
  color: #41abe1;
}
.imoon-fb:before {
  content: "\e932";
  color: #45568e;
}
